* {
    height: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-image: url(../src/img/Fundo.jpg);
    background-size: cover;
  }


  .youtube-icon {

    border-radius: 390px;
  
      /* ... outras propriedades ... */
      animation: girar 4s infinite ease-in-out;
      
    }
    
    @keyframes girar {
      0% {
        transform: rotateY(0deg) ;
      }
      50% {
        transform: rotateY(180deg) ;
  
  
      }
      100% {
          transform: rotateY(360deg) ;
    
    
        }
     
  }
  .youtube-icon img {
    border-radius: 390px;
  }
  .youtube-icon:hover{
    width: 270px;
    text-align: center;
  background-color: rgb(255, 0, 0);
  border-radius: 360px;
  align-items: center;
  
  
  }
 
  
  .box{
  background-color: rgba(170, 165, 165, 0.205);
      margin-top:290px;
      display: flex;
      justify-content: center;
      justify-items: center;
  }



  
/*Responsive  */
@media (max-width: 415px) {  



    .youtube-icon {

        border-radius: 390px;
      
          /* ... outras propriedades ... */
          animation: girar 5s infinite ease-in-out;
          
        }
        
        @keyframes girar {
          0% {
            transform: rotateY(0deg) ;
          }
          50% {
            transform: rotateY(180deg) ;
      
      
          }
          100% {
              transform: rotateY(360deg) ;
        
        
            }
         
      }
      .youtube-icon img {
        border-radius: 390px;
      }
      .youtube-icon:hover{
        width: 270px;
        text-align: center;
      background-color: rgb(255, 0, 0);
      border-radius: 360px;
      align-items: center;
      
      
      }
     
      
      .box{
      background-color: rgba(165, 42, 42, 0.199);
          margin-top:290px;
          display: flex;
          justify-content: center;
          justify-items: center;
      }



  
}